		            
				</aside>
				<!-- aside end -->
				
				<!-- main content -->
				<div id="page-content">
					<!-- page header -->
					<h1 id="page-header">Bonus > Chat</h1>	

					<div class="alert adjusted alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<i class="cus-exclamation"></i>
						<strong>Responsive Chat Interface</strong> Try typing something...
					</div>
					
					<div class="fluid-container">

						<!-- widget grid -->
						<section id="widget-grid" class="">
							
							<!-- row-fluid -->
							
							<div class="row-fluid">
		
								<article class="span12">
									
									<!-- new widget -->
									<div class="jarviswidget" id="widget-id-0">
									    <header>
									        <h2>Chat Interface</h2>                           
									    </header>
									    
									    <!-- widget div-->
									    <div>
									    	<!-- widget edit box -->
									        <div class="jarviswidget-editbox">
									            <div>
									                <label>Title:</label>
									                <input type="text" />
									            </div>
									            <div>
									                <label>Styles:</label>
									                <span data-widget-setstyle="purple" class="purple-btn"></span>
									                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
									                <span data-widget-setstyle="green" class="green-btn"></span>
									                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
									                <span data-widget-setstyle="orange" class="orange-btn"></span>
									                <span data-widget-setstyle="pink" class="pink-btn"></span>
									                <span data-widget-setstyle="red" class="red-btn"></span>
									                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
									                <span data-widget-setstyle="black" class="black-btn"></span>
									            </div>
									        </div>
									        <!-- end widget edit box -->

									        <!-- content -->	            
									        <div class="inner-spacer chat-widget widget-content-padding"> 
									        	
									        	<!-- chat tabs -->
												<ul id="myChat" class="nav nav-tabs chat-tabs">
									              <li class="active">
									              	<button class="btn btn-mini pull-right chat-close-btn">x</button>
									              	<a href="#user1" data-toggle="tab"><i class="online"></i>Nicolas Cage</a>
									              	</li>
									              <li>
									              	<button class="btn btn-mini pull-right chat-close-btn">x</button>
									              	<a href="#user2" data-toggle="tab"><i class="away"></i>David Simpson</a>
									              </li>
									              <li class="pull-right">
									              	
													<div id="chat-user-control" class="btn-group hidden-phone">
		                                                <button class="btn dropdown-toggle btn-small btn-link" data-toggle="dropdown"><i class="cus-status-online"></i></button>
		                                                <ul class="dropdown-menu btn-small pull-right">
															<li>
																<a href="javascript:void(0);"><i class="cus-status-online"></i> Available</a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="cus-cross-shield-2"></i> Busy</a>
															</li>
															<li>
																<a href="javascript:void(0);"><i class="cus-clock"></i> Away</a>
															</li>
															<li class="divider"></li>
															<li>
																<a href="javascript:void(0);"><i class="cus-disconnect"></i> Disconnect</a>
															</li>
		                                                </ul>
		                                            </div>

							
									              </li>
									            </ul>
									            <!-- end chat tabs -->
									            
									            <!-- chat box -->
									            <div id="myChatTab" class="tab-content chat-content">
									              
									              <!-- chat user1 -->	
									              <div class="tab-pane fade in active" id="user1">
									              	
									              	<!-- chat messages -->
									              	<div class="chat-messages">
									              		
									              		<!-- message-id-1 -->
														<p id="message-id-1" class="message-box">
															<img src="img/avatar/avatar_1.jpg" alt="" />
															<span class="message">
																<strong>Nicolas Cage</strong> 
																<span class="message-time">14:23pm, 4th Jan 2013</span>
																<span class="message-text">Hehehe....sem quam semper libero, sit amet adipiscing sem neque sed ipsum. <i class="cus-emoticon-tongue"></i></span>
															</span>
														</p>
														<!-- end message-id-1 -->
														
														<!-- message-id-2 -->
														<p id="message-id-2" class="message-box you">
															<img src="img/avatar/avatar_0.jpg" alt="" />
															<span class="message">
																<strong>Me</strong> 
																<span class="message-time">14:25pm, 4th Jan 2013</span>
																<span class="message-text"> Faucibus! Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc <i class="cus-emoticon-smile"></i></span>
															</span>
														</p>
									              		<!-- end message-id-2 -->
									              		
									              		<!-- message-id-3 -->
														<p id="message-id-3" class="message-box">
															<img src="img/avatar/avatar_1.jpg" alt="" />
															<span class="message">
																<strong>Nicolas Cage</strong> 
																<span class="message-time">14:23pm, 4th Jan 2013</span>
																<span class="message-text">Hey Vicky! Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. LOLOL!  Maecenas tempus, tellus eget condimentum rhoncus. </span>
															</span>
														</p>
														<!-- end message-id-3 -->
									              	
									             	</div>
									              	<!-- end chat messages -->
									              	
									              </div>
									              <!-- end chat user1 -->
									              
									              <!-- chat user2 -->
									              <div class="tab-pane fade" id="user2">
									              	
									              	<!-- chat messages -->
									              	<div class="chat-messages">
									              		
									              		<!-- message-id-1 -->
														<p id="message-id-4" class="message-box">
															<img src="img/avatar/avatar_2.jpg" alt="" />
															<span class="message">
																<strong>David Simpson</strong> 
																<span class="message-time">14:23pm, 4th Jan 2013</span>
																<span class="message-text">Hi Victoria, Yes you have uploaded it and its currently in que. I will have a look at it and send you an email shortly.</span>
															</span>
														</p>
														<!-- end message-id-1 -->
														
														<!-- message-id-2 -->
														<p id="message-id-5" class="message-box you">
															<img src="img/avatar/avatar_0.jpg" alt="" />
															<span class="message">
																<strong>Me</strong> 
																<span class="message-time">14:25pm, 4th Jan 2013</span>
																<span class="message-text">Hi David, I just submitted a theme on wrapbootstrap, not sure if it went through. Did I do it right? :S</span>
															</span>
														</p>
														<!-- end message-id-2 -->
														
									              	</div>
									              	<!-- end chat messages -->
									              	
									              </div>
									              <!-- end chat user2 -->
									              
									            </div>
									            <!-- end chat box -->
									            
									            <div class="row-fluid chat-box">
									            	
									            	<textarea name="enter-message" rows="3" cols="1" placeholder="Enter your message..." id="chat-box-textarea"></textarea>
													<div class="row-fluid">
		                                                <div class="span6 type-effect" style="display:none"><img src="img/loaders/misc/16-2.gif" alt="" /> Victoria is typing...</div>
		                                                <div class="span6 chat-box-buttons pull-right">
		                                                	<input type="submit" name="chat-box-textarea" class="btn medium btn-danger pull-right" value="Send" id="send-msg-js" />
		                                                    <a href="javascript:void(0);" title="" class="pull-right"><i class="icon-camera"></i></a>
		                                                </div>
		                                            </div>

									            </div>
										       		
											
									        </div>
									        <!-- end content -->	
									        
									    </div>
									    <!-- end widget div -->
									</div>
									<!-- end widget -->
									
								</article>
								
							</div>
							
							<!-- end row-fluid -->

						</section>
						<!-- end widget grid -->
					</div>		
				</div>
				<!-- end main content -->
			
				<!-- aside right on high res -->
				<aside class="right">
										
					<!-- aside buttons -->
					<div class="aside-buttons">
		                <a href="javascript:void(0);" title="" class="btn btn-info">Save Chat</a>
		                <a href="javascript:void(0);" title="" class="btn btn-success">Add a friend</a>
		                <a href="javascript:void(0);" title="" class="btn btn-danger">Clear ALL chat logs</a>
		            </div>
		            <div class="divider"></div>
		            <!-- end aside buttons -->
		            <div class="alert adjusted">
		            	<strong><i class="cus-comment"></i>You have 2 new requests</strong></div>
					<!-- users online -->
					<ul class="users-online">
						<li class="first">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_1.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Nicolas Cage <span>(3)</span>
		                            </strong>
		                            <b>Online Marketing</b>
		                        </span>
		                        <i class="online"></i>
		                    </a>
						</li>
						<li class="">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_0.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Victoria Bitter <span></span>
		                            </strong>
		                            <b>Marketing</b>
		                        </span>
		                        <i class="online"></i>
		                    </a>
						</li>
						<li class="">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_5.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Angie Freemen <span></span>
		                            </strong>
		                            <b>CFO</b>
		                        </span>
		                        <i class="away"></i>
		                    </a>
						</li>
						<li class="">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_6.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Carol Lam <span></span>
		                            </strong>
		                            <b>Graphic Designer</b>
		                        </span>
		                        <i class="offline"></i>
		                    </a>
						</li>
						<li class="">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_7.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Julia Berry <span></span>
		                            </strong>
		                            <b>Human Resources</b>
		                        </span>
		                        <i class="online"></i>
		                    </a>
						</li>
						<li class="">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_2.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	David Simpson <span>(2)</span>
		                            </strong>
		                            <b>CEO</b>
		                        </span>
		                        <i class="away"></i>
		                    </a>
						</li>
						<li class="last">
							<a href="javascript:void(0);" title="">
		                        <img src="img/avatar/avatar_8.jpg" alt="" />
		                        <span class="user-name">
		                            <strong>
		                            	Brad Pitt <span></span>
		                            </strong>
		                            <b>Information Technology</b>
		                        </span>
		                        <i class="busy"></i>
		                    </a>
						</li>
					</ul>
					
 					<div class="divider"></div>
					<!-- end users online -->

				</aside>
				
				<!-- end aside right -->
			</div>
			
	    </div><!--/.fluid-container-->
		<div class="push"></div>
	</div>

