		            
				</aside>
				<!-- aside end -->
				
				<!-- main content -->
				<div id="page-content">
					<!-- page header -->
					<h1 id="page-header">Bonus > Invoice</h1>	

					<div class="alert adjusted alert-info">
						<button class="close" data-dismiss="alert">×</button>
						<i class="cus-exclamation"></i>
						<strong>Print friendly invoice!</strong> Try printing this invoice or see the print preview...
					</div>
					
					<div class="fluid-container">
							
						<!-- invoice -->
								<div id="invoice-bar" class="btn-toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn medium"><i class="cus-cross"></i></button>
                                        <button type="button" class="btn medium"><i class="cus-pencil"></i></button>
                                        <button type="button" id="invoice-print" class="btn medium">
                                            <i class="cus-printer"></i> Print Invoice
                                        </button>
                                    </div>
                                </div>
                                <div id="invoice-id-01" class="invoice">
                                	<div class="invoice-header">
                                		<img src="img/favicons/apple-touch-icon-retina.png" width="114" height="114" alt="invoice icon" />
                                		<div class="invoice-company-info pull-right">
                                			<strong>JARVIS Incorporated</strong><br />
                                			46 Hamilton Crescent<br />
                                			Toronto, ON - M1B7T9<br />
                                			Canada<br />
                                		</div>
                                	</div>
                                	<div class="invoice-client-info">
										<div class="client-info">
											<h5>Invoiced to:</h5>
											{Wrap}bootstrap.com<br />
											234 Erricson St,<br />
											Calfornia - 48212,<br />
											+99 999 9999
											
										</div>	
										<div class="invoice-info">
											<h3>INVOICE</h3>
											<ul>
												<li>
													Invoice # <span>AA-454-4113-00</span>
												</li>
												<li>
													Date Issued: <span>Nov 22, 2012</span>
												</li>
												<li>
													Due Date: <span>March 30, 2013</span>
												</li>
											</ul>
										</div>	
                                	</div>
                                	<div class="invoice-body">
										<table class="table table-striped responsive">
                                            <thead>
                                                <tr>
                                                    <th class="item">Item</th>
                                                    <th class="desc">Description</th>
                                                    <th class="price">Price</th>
                                                    <th class="qtn">Quantity</th>
                                                    <th class="sub">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="javascript:void(0);">Print and Web Logo Design</a></td>
                                                    <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam xplicabo.</td>
                                                    <td>$1,300.00</td>
                                                    <td>x1</td>
                                                    <td>$1,300.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="javascript:void(0);">SEO Management</a></td>
                                                    <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</td>
                                                    <td>$1,400.00</td>
                                                    <td>x1</td>
                                                    <td>$1,400.00</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="javascript:void(0);">Backend Support and Upgrade</a></td>
                                                    <td>Coluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</td>
                                                    <td>$1,700.00</td>
                                                    <td>x1</td>
                                                    <td>$1,700.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="invoice-sub" colspan="4">Total</td>
                                                    <td><strong>$4,400.00</strong></td>
                                                </tr>
                                                <tr>
                                                    <td class="invoice-sub" colspan="4">HST/GST</td>
                                                    <td><strong>13%</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                	</div>
                                	<div class="invoice-footer">
                                		
                                		<div class="payment-methods">
                                			<h5>Payment Methods</h5>
                                			<img src="img/invoice/paypal.png" width="64" height="64" alt="" />
                                			<img src="img/invoice/americanexpress.png" width="64" height="64" alt="" />
                                			<img src="img/invoice/mastercard.png" width="64" height="64" alt="" />
                                			<img src="img/invoice/visa.png" width="64" height="64" alt="" />
                                		</div>
                                		<div class="invoice-sum-total">
                                			<h3>Total: $4,972 USD</h3>
                                		</div>
                                	</div>
                                </div>
						
						<!-- end invoice -->
						
					</div>		
				</div>
				<!-- end main content -->
			
				<!-- aside right on high res -->
				<aside class="right">
										
					<!-- aside buttons -->
					<div class="aside-buttons">
		                <a href="javascript:void(0);" title="" class="btn btn-success">Create Invoice</a>
		                <a href="javascript:void(0);" title="" class="btn btn-danger">Delete Invoice</a>
		            </div>
		            <div class="divider"></div>

				</aside>
				
				<!-- end aside right -->
			</div>
			
	    </div><!--/.fluid-container-->
		<div class="push"></div>
	</div>

