					
				</aside>
				<!-- aside end -->
				
				<!-- main content -->
				<div id="page-content">
					<!-- page header -->
					<h1 id="page-header">Forms > Wizard</h1>	
					
					<div class="fluid-container">

						<div class="alert adjusted alert-info">
							<button class="close" data-dismiss="alert">×</button>
							<i class="cus-exclamation"></i>
							<strong>Info!</strong> This is just a sample of this wizard plugin, full documentation can be found under: https://github.com/gilluminate/Bootstrap-Wizard
						</div>
						<!-- widget grid -->
						<section id="widget-grid" class="">
							
							<!-- row-fluid -->
							
							<div class="row-fluid">
								<article class="span12">
									
									<!-- new widget -->
									<div class="jarviswidget" id="widget-id-0">
									    <header>
									        <h2>Basic Wizard</h2> 
									                                  
									    </header>
									    <!-- wrap div -->
									    <div>
									    
									        <div class="jarviswidget-editbox">
									            <div>
									                <label>Title:</label>
									                <input type="text" />
									            </div>
									            <div>
									                <label>Styles:</label>
									                <span data-widget-setstyle="purple" class="purple-btn"></span>
									                <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
									                <span data-widget-setstyle="green" class="green-btn"></span>
									                <span data-widget-setstyle="yellow" class="yellow-btn"></span>
									                <span data-widget-setstyle="orange" class="orange-btn"></span>
									                <span data-widget-setstyle="pink" class="pink-btn"></span>
									                <span data-widget-setstyle="red" class="red-btn"></span>
									                <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
									                <span data-widget-setstyle="black" class="black-btn"></span>
									            </div>
									        </div>
            
									        <div class="inner-spacer"> 
									        <!-- content goes here -->
												<form id="wizard" class="themed" />
																							
													<div id="wizard_name">
														
														<!-- wizard steps -->
														<ul class="bwizard-steps">
														  	<li>
														  		<span class="label badge-inverse">1</span>
														  		<a href="#inverse-tab1" data-toggle="tab">Step 1</a>
														  	</li>
															<li>
																<span class="label badge-inverse">2</span>
																<a href="#inverse-tab2" data-toggle="tab">Step 2</a>
															</li>
															<li>
																<span class="label badge-inverse">3</span>
																<a href="#inverse-tab3" data-toggle="tab">Step 3</a>
															</li>
															<li>
																<span class="label badge-inverse">4</span>
																<a href="#inverse-tab4" data-toggle="tab">Step 4</a>
															</li>
															<li>
																<span class="label badge-inverse">5</span>
																<a href="#inverse-tab5" data-toggle="tab">Step 5</a>
															</li>
															<li>
																<span class="label badge-inverse">6</span>
																<a href="#inverse-tab6" data-toggle="tab">Step 6</a>
															</li>
														</ul>
														<!-- end wizard steps -->
														
														<div class="tab-content">
															<!-- step 1-->
														    <fieldset class="tab-pane" id="inverse-tab1">
																<div class="control-group">
																	<label class="control-label" for="name">First Name</label>
																	<div class="controls">
																		<input type="text" class="span12" id="name" required="required" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="lname">Last Name</label>
																	<div class="controls">
																		<input type="text" class="span12" id="lname" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="input01">Enter password</label>
																	<div class="controls">
																		<input type="password" class="span12" id="input01" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="input03">Re-enter password</label>
																	<div class="controls">
																		<input type="password" class="span12" id="input03" />
																	</div>
																</div>
														    </fieldset>
														    <!-- step 2-->
														    <fieldset class="tab-pane" id="inverse-tab2">
																<div class="control-group">
																	<label class="control-label" for="s1">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s1" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s2">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s2" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s3">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s3" />
																	</div>
																</div>
														    </fieldset>
														    <!-- step 3-->
														    <fieldset class="tab-pane" id="inverse-tab3">
																<div class="control-group">
																	<label class="control-label" for="s4">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s4" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s5">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s5" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s6">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s6" />
																	</div>
																</div>
														    </fieldset>
														    <!-- step 4-->
														    <fieldset class="tab-pane" id="inverse-tab4">
																<div class="control-group">
																	<label class="control-label" for="s7">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s7" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s8">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s8" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s9">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s9" />
																	</div>
																</div>
														    </fieldset>
														    <!-- step 5-->
														    <fieldset class="tab-pane" id="inverse-tab5">
																<div class="control-group">
																	<label class="control-label" for="s10">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s10" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s11">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s11" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s12">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s12" />
																	</div>
																</div>
														    </fieldset>
														    <!-- step 6-->
														    <fieldset class="tab-pane" id="inverse-tab6">
																<div class="control-group">
																	<label class="control-label" for="s13">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s13" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s14">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s14" />
																	</div>
																</div>
																<div class="control-group">
																	<label class="control-label" for="s15">Sample Input</label>
																	<div class="controls">
																		<input type="text" class="span12" id="s15" />
																	</div>
																</div>
														    </fieldset>
														    <!-- wizard -->
														    <div class="form-actions wizard">
														    	<div class="span6 hidden-phone">
														    		<strong class="" style="margin-right: 5px; line-height: 25px; float:left;">Start</strong>
														    		<strong class="" style="margin-left: 5px; line-height: 25px;">Finish</strong>
																	<div id="bar" class="progress progress-info slim" style="margin-bottom:0;">
																		<div class="bar"></div>
																	</div>
														    	</div>

																<div class="span6">
															    	<ul style="list-style: none;">
																		<li class="previous">
																			<button class="btn medium btn-danger">
																				Previous
																			</button>
																		</li>
																		<li class="next">
																			<button class="btn medium btn-primary next">
																				Next
																			</button>
																		</li>
															    	</ul>
																</div>

															</div>
														</div>
															
													</div>
									
												</form>
										    </div>
										    <!-- end content-->
									    </div>
									    <!-- end wrap div -->
									</div>
									
									
									<!-- end widget -->
								</article>
							</div>
							
							<!-- end row-fluid -->
							
							
						</section>
						<!-- end widget grid -->
					</div>		
				</div>
				<!-- end main content -->
			
				<!-- aside right on high res -->
				<aside class="right">
					
					<!-- sparkline stats -->
					<ul class="mystats indented">
		                <li class="first">
		                    <h1><span>My Balance:</span>$17,349</h1>
		                    <div class="mychart" id="balance" style="width:35px"></div>
		                </li>
		                <li>
		                    <h1><span>Impressions:</span>145k+</h1>
		                    <div class="mychart" id="clicks" style="width:35px"></div>
		                </li>
		                <li>
		                    <h1><span>Subscribers:</span>1,120</h1>
		                    <div class="mychart" id="subscribe" style="width:35px"></div>
		                </li>
		                <li class="last">
		                    <h1><span>Support Ticket:</span>945+</h1>
		                    <div class="mychart" id="support" style="width:35px"></div>
		                </li>
		            </ul>
		            <div class="divider"></div>
		            <!-- end sparkline stats -->
					
					<!-- aside buttons -->
					<div class="aside-buttons">
		                <a href="javascript:void(0)" title="" class="btn btn-primary">Create an Invoice</a>
		            </div>
		            <div class="divider"></div>
		            <!-- end aside buttons -->
		            
				</aside>
				
				<!-- end aside right -->
			</div>
			
	    </div><!--/.fluid-container-->
		<div class="push"></div>
	</div>

