	/*         
	     __                   .__        
	    |__|____ __________  _|__| ______
	    |  \__  \\_  __ \  \/ /  |/  ___/
	    |  |/ __ \|  | \/\   /|  |\___ \ 
	/\__|  (____  /__|    \_/ |__/____  >
	\______|    \/                    \/ 
	
	Copyright 2013 - Jarvis : Smart Admin Template
	
	 * This is part of an item on wrapbootstrap.com
	 * https://wrapbootstrap.com/user/myorange
	 * ==================================

	
	   Table of Contents
	   ---------------------------------------------------------------
	   
		- Keep footer down
		- Tool bar
		- Toolbar Dropdown
		- Toolbar button Icons
		- Big icon button
		- Responsive nav
		- Main Navigation
		- Page content divs
		- Page content header
		- Page aside
		- Aside mini profile 
		- Aside number stats 
		- Secondary Nav (inside aside)
		- Mini inbox (inside aside)
		- Alerts
		- Button (overrides)
		- Bread crumb
		- Calendar
		- D3 Charts
		- Flot chart tooltip & legend
		- Flot Charts
		- JustGague 
		- Table adjustments
		- UI slider
		- EasyPie Plugin
		- Progress bars (overrides)
		- Mystats
		- aside right
		- button overides
		- Model overides (adjustments)
		- wysihtml5 adjustments
		- Chat Interface
		- users online
		- tooltip
		- Forms
		- Tables (adjustments)
		- Badge & Labels (adjustments)
		- Login Page
		- Paging
		- Well
		- Logout Animation
		- Footer
		- color picker
		- time picker
		- bootstrap form wizzard
		- Inbox
		- Inbox Menu
		- default tabs
		- ibutton
		- Invoice
		- Custom Lists
		- Login Page
		- For Demo Purpose (delete if not needed)
	   
	*/

	/* ---------------------------------------------------------------------- */
	/*	CSS base
	/* ---------------------------------------------------------------------- */
	
	*{
		margin: 0;
		outline:none !important; /* removes the ugly dotted lines in Firefox and IE */
	}
	
	html, body {
		height: 100%;
		min-height: 100%;
		color:#5F5F5F;
	}
	body {
		background: url('../backgrounds/mesh.png') #333;
	}
	
	h1, h2, h3, h4, h5, h6, .my-profile span, .number-stats {
		font-family: 'Lato', Arial, Helvetica, sans-serif;
	}
	
	.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
		font-weight:normal;
	}
	
	body, .jarviswidget > header h2, .fc-header-title h2  {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	a, a.active {
		color:#333;
	}
	a:hover {
		text-decoration:none;
	}
	
	.contained {
		max-width: 1170px;
		height: 100%;
		margin: 0px auto;
		position: relative;
	}
	
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	  color: #8b8b8b;
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
	  color: #8b8b8b;
	}
	
	footer, 
	div#main, 
	#page-content, 
	aside, 
	aside.divider, 
	div#main #page-header, 
	.jarviswidget > div, 
	aside ul.menu, 
	.alert,
	.dt-header, 
	.dt-footer, 
	.well,
	.wysihtml5,
	.wysihtml5-widget,
	.widget-content-padding,
	.aside-buttons .btn,
	.chat-box,
	.form-signin input[type="text"], 
	.form-signin input[type="password"],
	.chat-box textarea,
	#chat-box-textarea,
	.toolbar ul.progressbox,
	.main-search input,
	.d3-charts,
	.slashc-sliding-menu,
	div.slashc-sliding-menu span.tiny-des,
	div.slashc-sliding-menu span.tiny-sub,
	div.slashc-sliding-menu h1,
	.message-control-panel,
	.bwizard-steps,
	.inbox-control-panel,
	.dropdown-menu.toolbar h3   {
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		/*-webkit-box-sizing:border-box; - box-sizing is supported */
	}
	
	/* font adjust */
	
	select, 
	textarea, 
	input[type="text"], 
	input[type="password"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="date"], 
	input[type="month"], 
	input[type="time"], 
	input[type="week"], 
	input[type="number"], 
	input[type="email"], 
	input[type="url"], 
	input[type="search"], 
	input[type="tel"], 
	input[type="color"], 
	.uneditable-input {
		font-size: 12px;
	}

	
	/* disable background image from default bootstrap css to allow for 
	   font icons to appear without any glitch 
	*/
	 
	[class^="icon-"], [class*=" icon-"] {
		background-image:none;
	}
	
	/* ---------------------------------------------------------------------- */
	/*	Keep footer down
	/* ---------------------------------------------------------------------- */

	/* Fill the window but let some space for the footer 
	   this div wraps the entire body segment to calculate page height 
	   and push footer down
	*/
	
	.height-wrapper {
		height: auto !important;
		height: 100%;
		margin: 0 auto -38px;
		min-height: 100%;
	}
	
	.footer, .push {
		position:relative;
	    height: 37px; /* .push must be the same height as .footer */
	}
	
	/* ---------------------------------------------------------------------- */
	/*	Toolbar
	/* ---------------------------------------------------------------------- */
	
	/* title that appears on top left of the page */
	
	#header-toolbar h1 {
		float:left;
		color: #F0F0F0;
		font-size: 16px;
		line-height: 40px;
		margin: 0;
		font-weight: bold;
		cursor:default;
		width:auto /* force width to help responsive scaling */
	}
	
	/* font icon size adjustments within this above header */
	
	#header-toolbar h1 > i {
		font-size: 14px;
		line-height: 14px;
		margin: 2px 2px 0;
	}
	
	/* theme icon in toolbar */
	#header-toolbar img {
		float:left;
		display:block;
		margin-top:7px;
		margin-right:5px;
		margin-left:2px;
	}
	
	
	#header-toolbar {
		height: 46px;
		position:relative;
		background: url('../transparant-30.png');
		border-bottom: 1px solid #585858;
		border-top: 5px solid #000;
		padding-right: 16px;
	}

	/* ---------------------------------------------------------------------- */
	/*	Toolbar Dropdown
	/* ---------------------------------------------------------------------- */
	
	.dropdown-menu {
		border: 1px solid #333;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
	
	.dropdown-menu.toolbar {
		background:#302F2F;
		border-radius:3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	.dropdown-menu.toolbar li a {
		font-size:12px;
		color:#fff;
		padding: 4px 15px;
	}
	
	.dropdown-menu.toolbar li>a:hover, .dropdown-menu.toolbar li>a:focus{
		background-color:#424242;
		background-image:-moz-linear-gradient(top, #434343, #000);
		background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#434343), to(#000));
		background-image:-webkit-linear-gradient(top, #434343, #000);
		background-image:-o-linear-gradient(top, #434343, #000);
		background-image:linear-gradient(to bottom, #434343, #000);
		background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#000', GradientType=0);
		
		border-radius:3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	
	#header-toolbar .btn-toolbar .btn-group .btn-inverse {
		border:1px solid #000000;
		background-color:#2d2d2d;
		background-image:-moz-linear-gradient(top, #484848, #2d2d2d);
		background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#484848), to(#2d2d2d));
		background-image:-webkit-linear-gradient(top, #484848, #2d2d2d);
		background-image:-o-linear-gradient(top, #484848, #2d2d2d);
		background-image:linear-gradient(to bottom, #484848, #2d2d2d);
		background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#484848', endColorstr='#2d2d2d', GradientType=0);
	}
	#header-toolbar .btn-toolbar .btn-group .btn-inverse:hover {
		border:1px solid #000000;
		background-color:#484848;
		background-image:-moz-linear-gradient(top, #2d2d2d, #484848);
		background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#2d2d2d), to(#484848));
		background-image:-webkit-linear-gradient(top, #2d2d2d, #484848);
		background-image:-o-linear-gradient(top, #2d2d2d, #484848);
		background-image:linear-gradient(to bottom, #2d2d2d, #484848);
		background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d', endColorstr='#484848', GradientType=0);
	}
	
	#header-toolbar .btn-toolbar .btn-group.open .dropdown-toggle {
		background-color:#252525;
		background-image:-moz-linear-gradient(top, #1A1A1A, #252525);
		background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#1A1A1A), to(#252525));
		background-image:-webkit-linear-gradient(top, #1A1A1A, #252525);
		background-image:-o-linear-gradient(top, #1A1A1A, #252525);
		background-image:linear-gradient(to bottom, #1A1A1A, #252525);
		background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A1A1A', endColorstr='#252525', GradientType=0);
	}
	
	.dropdown-menu.toolbar h3 {
		font-family:Arial, Helvetica, sans-serif;
		margin: 0px;
		font-size: 12px;
		font-weight: bold;
		color: white;
		line-height: 14px;
		padding: 5px 10px 10px 10px;
		width:100%;
		border-bottom: 2px solid white;
		
	}
	.toolbar ul.mailbox, .toolbar ul.progressbox {
		background:#fff;
		list-style:none;
		margin:0;
		padding:0;
		width:240px;
	}
	
	.toolbar ul.mailbox > li > a{
		display:block;
		overflow:hidden;
		color:#333;
		padding:8px 10px;
		background:#fff ;
		filter:none !important;
		color: #5A7DB3;
		position:relative;
		margin: 0;
		font-size: 12px;
		display: block;
		line-height: 20px;
		font-weight: bold;
		text-shadow: 0px 1px 0px white;
		border-bottom:1px solid #e5e5e5;
		white-space: normal;
		overflow: hidden;
	}
	.toolbar ul.mailbox > li:last-child > a {
		border-bottom:0px;
	}
	
	.toolbar ul.mailbox li a > img {
		margin-top: 0 !important;
		margin-right: 5px !important;
		width:22px;
		height:18px;
	}
	.toolbar ul.mailbox li a span {
		display: block;
		font-size: 11px;
		color: #646464;
		padding-left: 29px;
		white-space: normal;
		line-height: 15px;
		margin-top: 0px;
		font-weight: normal;
	}
	
	.toolbar ul.mailbox > li > a:hover {
		background-color:#ffffcc;
		background-image: none;
		
	}
	.toolbar ul.mailbox > li > a:active, .toolbar ul.mailbox > li > a:focus {

		background: url('../transparant-10.png') repeat top left ; 
	}
	.toolbar ul.mailbox > li > a.read {
		background-color:#f3f3f3;
	}
	.toolbar ul.mailbox > li > a i {
		display:none;
	}
	.toolbar ul.mailbox > li > a.attachment i {
		display:block;
		position:absolute;
		top: 10px;
		right: 7px;
		font-size:14px;
	}
	ul.mailbox > li > a i {
		text-indent: 0px;
		position: absolute;
		right: 0px;
		top: 7px;
		font-size: 25px;
	}ul.mailbox > li > a span.badge {
		position: absolute;
		z-index: 99;
		top: 13px;
		right: 30px;
		width: auto;
		text-indent: 0px;
		background: url('../transparant-40.png');
		background: rgba(128, 128, 128, 0.7);
		-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5);
		display: inline-block;
		padding: 2px 8px;
		font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
	}ul.mailbox li .push-down {
		display:block;
		width:20px;
		background:transparent;
		height:28px;
	}
	
	a#go-to-inbox {
		color:#fff;
		text-align: right;
		display:block;
		padding:5px 10px 2px;
		font-size:12px;
		border-top: 2px solid #F3F3F3;
	}
	a#go-to-inbox i {
		font-size:16px;
	}
	
	/* progress box */
	.toolbar ul.progressbox {
		padding:10px;
	}
	.toolbar ul.progressbox li {
		font-size:12px;
	}
	.toolbar ul.progressbox li strong {
		color:#646464;
		font-weight:normal;
	}
	.toolbar ul.progressbox li b {
		color:#757575;
		font-style:italic;
		font-weight:normal;
	}
	.toolbar ul.progressbox li i {
		margin-top: 6px;
		margin-right: 5px;
	}
	
	.toolbar ul.progressbox li .progress {
		margin-bottom:15px;
	}
	
	/* ---------------------------------------------------------------------- */
	/*	Toolbar button Icons
	/* ---------------------------------------------------------------------- */	
	
	.btn-toolbar .btn-small i {
		font-size:16px;
		line-height:14px;
		margin-right:0;
	}
	
	
	/* tool bar button icon sticker */
	span.mail-sticker {
		position: absolute;
		z-index:99;
		background: url('../mini-counter.png') no-repeat top left;
		width: 18px;
		height: 18px;
		right: -3px;
		top: -5px;
		line-height: 19px;
		font-size: 11px;
	}
	
	/* ---------------------------------------------------------------------- */
	/*	Big icon button
	/* ---------------------------------------------------------------------- */

	/* responsive list button tutorial: http://designshack.net/articles/css/code-a-responsive-navigation-menu/ */
	
	#start {
		text-align: center;
		padding: 0 0 20px 0;
	}
	#start ul {
		padding:0;
		margin-left:0;
	}
	#start ul li {
		display: inline-table;
		position:relative;
		margin: 10px 3px 0 3px;
		text-align: center;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	#start ul li:first-child {
		margin-left:0;
	}
	#start ul li:last-child {
		margin-right:0;
	}
	
	#start ul li:hover {
		background: url('../transparant-5.png') repeat top left;
	}
	#start ul li:active {
		background: url('../transparant-10.png') repeat top left;
	}
	#start ul li a {
		position:relative;
		padding: 10px 24px 4px;
		display: block;
		font-weight: bold;
		white-space: nowrap;
		color: #626262;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
	}
	
	#start ul li a span {
		display: block;
		margin-top: 5px;
		font-size:12px;
	}
	
	#start ul li label {
		display: inline-block;
		padding: 2px 4px;
		font-size: 10.844px;
		font-weight: bold;
		line-height: 14px;
		color: white;
		vertical-align: baseline;
		white-space: nowrap;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		
		background: url(../csshack/red-gradient.png) repeat-x #d42622 ;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		background: -webkit-gradient(linear, left top, left bottom, from(#fd8383), to(#d42622), color-stop(0.5, #c30909), color-stop(0.5, #a70606));
		background: -webkit-linear-gradient(top, #fd8383, #c30909 50%, #a70606 50%, #d42622);
		background: -moz-linear-gradient(top, #fd8383, #c30909 50%, #a70606 50%, #d42622);
		background: -ms-linear-gradient(top, #fd8383, #c30909 50%, #a70606 50%, #d42622);
		background: -o-linear-gradient(top, #fd8383, #c30909 50%, #a70606 50%, #d42622);
		background: linear-gradient(top, #fd8383, #c30909 50%, #a70606 50%, #d42622);

		-webkit-background-clip: padding-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;	
		border-width: 1px;
		border-style: solid;
		-webkit-background-clip: padding-box;	
		-webkit-appearance: none;
		background-position: center center !important;
		-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
		-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);

		position:absolute;
		z-index: 99;
		top:3px;
		right:auto;
		left:55%;
		
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
	}


	/* ---------------------------------------------------------------------- */
	/*	Responsive nav
	/* ---------------------------------------------------------------------- */
	
	.selectnav { 
		display: none; /* initially hidden */
		margin: 0 auto;
		position:relative;
		margin-top:15px;
	}
	
	.selectnav { 
		width: 80%;
		font-size: 90%;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-appearance: none;
		background-color: #F8F8F8;
		border: 1px solid #E8E8E8;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		color: #8F8F8F;
		font-size: 12px;
		line-height: 1.5;
		padding: 5px 10px;
		height: 30px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcAgMAAAAPYzcHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRFAAAARERE4uLiJoWGrQAAAAJ0Uk5TAICbK04YAAAAIElEQVQI12NoYIAAKtAsUFoUSoc6EKcPpk4UzRxquAsA4voPXR6Sm4UAAAAASUVORK5CYII=);
		background-position: center right;
		background-repeat: no-repeat;
	}


